<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <h1>TODO List</h1>
    <ul id="task-list">
      <!-- Tasks will be dynamically added here -->
    </ul>
    <script src="script.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
          fetch('http://localhost:8010/tasks')
            .then(response => response.json())
            .then(data => {
              console.log(data); 
            })
            .catch(error => {
              console.error(error);
            });
    </script>
    </body>
</html>
